body {
    font-family: tahoma;
    margin: 0;
    padding: 0;
    background-image: url('https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExdWs4OWNzeTIxMTM3cXcxY2pwazIyeTh4NmZ1MjZuaHVtYnlwdXlwZCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/CoWSOVQI60mlgPyUUu/giphy.gif');

}

p {
    font-size: smaller;
    margin-bottom: 20px;
    margin-top: 0%;
    padding-top: 0%;
    color: #59052c;
}

#title {
    text-align: center;
    color: #59052c;
    margin: 1em;
    text-transform: uppercase;
    font-size: x-large;
}

#description {
    text-align: center;
    color: #59052c;
}

#title, #description {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: pink;
    opacity: 90%;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
    max-width: fit-content;
    margin: auto;
    margin-top: 20px;
}


fieldset {
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: pink;
    opacity: 90%;
    max-width: 600px;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
}

legend {
    font-weight: bold;
    color: #59052c;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #59052c;
}

input[type="text"],
input[type="date"] {
    width: calc(100% - 10px);
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #942020;
    border-radius: 3px;
    font-family: tahoma;
}

input[type="radio"] {
    margin-right: 5px;
}

.inline {
    display: inline;
}

input[type="submit"] {
    color: #59052c;
    font-family: tahoma;
    display: block;
    width: 50%;
    margin: 1em auto;
    height: 2em;
    font-size: 1.1rem;
    background-color: pink;
    border-color: white;
    min-width: 50px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
    opacity: 90%;
}

input[type="submit"]:hover {
    background-color: #a63251;
}

textarea {
    margin-top: 1em;
    resize: vertical;
    min-height: 100px; 
    max-height: 300px;
    width: 100%;
    font-family: tahoma;
    font-size: auto;
}